html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}
.rsm-geography {
  outline: none;
}
.logo {
  padding-left: 1rem;
}

.table-font {
  font-size: 0.8rem;
}

.font-white {
  color: white;
}
.title {
  font-size: 1rem;
}
.container-main {
  display: flex;
}
.side-table-font {
  font-size: 0.7rem;
}
span {
  border-radius: 5px;
  text-align: center;
}
.td-flex {
  display: flex;
  flex-direction: column;
}
.yellow,
.grey {
  font-size: smaller;
  text-align: center;
}
.total {
  cursor: pointer;
  text-decoration: underline;
}
.arrow {
  visibility: hidden;
}
th:hover .arrow {
  visibility: visible;
}
.linkedin {
  padding-top: 5px;
  padding-left: 5px;
}
.footer {
  font-size: small;
  height: 30px;
  display: flex;
}
.footer-copyright {
  padding-top: 5px;
}
