html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  background-color: grey;
}

svg {
  display: inline-block;
  vertical-align: middle;
}
.rsm-geography {
  outline: none;
}
.logo {
  padding-left: 1rem;
}

.table-font {
  font-size: 0.5rem;
}

.font-white {
  color: white;
}
.title {
  font-size: 1rem;
}
.container-main {
  display: flex;
}

span {
  border-radius: 5px;
  text-align: center;
}
.td-flex {
  display: flex;
  flex-direction: column;
}
.yellow,
.grey {
  font-size: smaller;
  text-align: center;
}
.total {
  cursor: pointer;
  text-decoration: underline;
}
.arrow {
  visibility: hidden;
}
th:hover .arrow {
  visibility: visible;
}
.linkedin {
  padding-top: 5px;
  padding-left: 5px;
}
.footer {
  font-size: small;
  height: 30px;
  display: flex;
}
.footer-copyright {
  padding-top: 5px;
}
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.top-countries td {
  height: 70px;
}
.panel-content {
  background-color: #e57373;
}
.close-panel {
  position: absolute;
  right: 71vw;
  cursor: pointer;
}
li {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.all-countries-table > thead > tr > th {
  position: sticky;
  top: 0px;
  background-color: rgb(95, 93, 93);
  color: white;
  text-align: left;
  cursor: pointer;
}

.top-countries {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .navItem {
    display: none;
  }

  .all-countries-table {
    border: 1px solid white;
    font-size: 10px;
  }
  .rt {
    height: 150px; /* fixed height . set fixed width to rotated elements */
  }
  .rt th {
    vertical-align: top;
    width: 3em;
    /* allow about 2 lines in rotated cells */
  }
  .rt .rotated {
    width: 120px; /* a liitle less than parents height */
    transform: rotate(270deg) translatex(-100%);
    transform-origin: top left;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .nowidth {
    margin-right: -130px; /* reduce virtually width needed */
  }
}
.margin-left {
  margin-left: 10px;
}
table.all-countries-table tr td,
table.all-countries-table thead th {
  border: 1px solid white;
}
.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 300px;
  margin: 5px;
}
.news-image {
  height: 200px;
}
.news-time {
  font-size: 10px;
  color: grey;
  padding-left: 24px;
  position: absolute;
  padding-bottom: 5px;
  bottom: 0px;
}
.card-content {
  font-size: small;
  text-align: justify;
}

.country-news-buttons {
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.news-button {
  margin-top: 5px;
}
